<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <script>
            let queue = new Map();
            document.addEventListener("DOMContentLoaded", () => {
                const artists = document.getElementById("artists");
                const albums = document.getElementById("albums");
                const tracks = document.getElementById("tracks");
                const audio = document.getElementById("audio");
                artists.querySelectorAll("option").forEach((artist) => {
                    artist.addEventListener("click", () => {
                        console.log(event);
                        const artistId = artist.id;
                        albums.querySelectorAll("option").forEach((album) => {
                            album.style.display = "none";
                            if (album.dataset.artistId === artistId) {
                                album.style.display = "block";
                            }
                        });
                        tracks.querySelectorAll("option").forEach((track) => {
                            track.style.display = "none";
                            if (track.dataset.artistId === artistId) {
                                track.style.display = "block";
                            }
                        });
                    });
                    artist.addEventListener("dblclick", (event) => {
                        console.log(event);
                        queue.clear();
                        const artistId = artist.id;
                        tracks
                            .querySelectorAll("option")
                            .forEach((trackOption) => {
                                if (trackOption.dataset.artistId === artistId) {
                                    const { id } = trackOption;
                                    const {
                                        number,
                                        filePath,
                                        artistId,
                                        albumId,
                                    } = trackOption.dataset;
                                    queue.set(id, {
                                        number,
                                        filePath,
                                        artistId,
                                        albumId,
                                    });
                                }
                            });
                        audio.src = queue.values().next().value.filePath;
                        audio.play();
                    });
                });
                albums.querySelectorAll("option").forEach((album) => {
                    album.addEventListener("click", (event) => {
                        console.log(event);
                        const albumId = album.id;
                        tracks
                            .querySelectorAll("option")
                            .forEach((trackOption) => {
                                trackOption.style.display = "none";
                                if (trackOption.dataset.albumId === albumId) {
                                    trackOption.style.display = "block";
                                }
                            });
                    });
                    album.addEventListener("dblclick", (event) => {
                        console.log(event);
                        queue.clear();
                        const albumId = album.id;
                        tracks
                            .querySelectorAll("option")
                            .forEach((trackOption) => {
                                if (trackOption.dataset.albumId === albumId) {
                                    const { id } = trackOption;
                                    const {
                                        number,
                                        filePath,
                                        artistId,
                                        albumId,
                                    } = trackOption.dataset;
                                    queue.set(id, {
                                        number,
                                        filePath,
                                        artistId,
                                        albumId,
                                    });
                                }
                            });
                        audio.src = queue.values().next().value.filePath;
                        audio.play();
                    });
                });
                tracks.addEventListener("dblclick", (event) => {
                    const trackOptions =
                        event.target.parentElement.selectedOptions;
                    queue.clear();
                    for (trackOption of trackOptions) {
                        const { id } = trackOption;
                        const { number, filePath, artistId, albumId } =
                            trackOption.dataset;
                        queue.set(id, {
                            number,
                            filePath,
                            artistId,
                            albumId,
                        });
                    }

                    audio.src = queue.values().next().value.filePath;
                    audio.play();
                });
            });
        </script>
        <style>
            * {
                box-sizing: border-box;
                border: 0;
                padding: 0;
                margin: 0;
                font-family: monospace;
            }
            html {
                font-size: 16px;
            }
            select {
                background-color: lime;
                scrollbar-width: none; /*For Firefox*/
                -ms-overflow-style: none; /*For Internet Explorer 10+*/
            }
            select::-webkit-scrollbar {
                /*For WebKit Browsers*/
                width: 0;
            }
            option, button {
                cursor: pointer;
            }
            {% for i in (1..=36) %}
            .bg-color-{{ i }} {
                background-color: hsl({{ (i - 1) * 10}}, 100%, 80%);
            }
            .bg-color-{{ i }}:active {
                background-color: hsl({{ (((i - 1) * 10) + 180) % 360 }}, 100%, 80%);
            }
            .bg-color-{{ i }}:hover {
                background-color: hsl({{ (((i - 1) * 10) + 180) % 360 }}, 100%, 80%);
            }
            {% endfor %}
            .flex {
                display: flex;
            }
            .flex-col {
                flex-direction: column;
            }
            .w-full {
                width: 100%;
            }
            .bg-blue {
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <main class="flex flex-col">
            <section
                id="top"
                class="flex"
                style="max-height: calc(40vh - 4rem); height: calc(40vh - 4rem)"
            >
                <select
                    id="artists"
                    class="w-full"
                    style="height: calc(40vh - 4rem)"
                    multiple
                >
                    {% for (id, artist) in data.artists %}
                    <option
                        id="{{ artist.id }}"
                        class="bg-color-{{ (loop.index % 36) + 1 }}"
                    >
                        {{ artist.name }}
                    </option>
                    {% endfor %}
                </select>
                <select
                    id="albums"
                    class="w-full"
                    style="height: calc(40vh - 4rem)"
                    multiple
                >
                    {% for (id, artist) in data.artists %} {% for (id, album) in
                    artist.albums %}
                    <option
                        id="{{ album.id }}"
                        data-artist-id="{{ album.artist_id }}"
                        class="bg-color-{{ (loop.index % 36) + 1 }}"
                    >
                        {{ album.title }}
                    </option>
                    {% endfor %} {% endfor %}
                </select>
            </section>
            <section id="bottom" style="max-height: calc(60vh - 4rem)">
                <select
                    id="tracks"
                    class="w-full"
                    style="height: calc(60vh - 4rem)"
                    multiple
                >
                    {% for (id, artist) in data.artists %} {% for (id, album) in
                    artist.albums %} {% for track in album.tracks %}
                    <option
                        id="{{ track.id }}"
                        class="bg-color-{{ (loop.index % 36) + 1 }}"
                        data-number="{{ track.number }}"
                        data-file-path="/{{ track.file_path }}"
                        data-artist-id="{{ track.artist_id }}"
                        data-album-id="{{ track.album_id }}"
                    >
                        {{ track.number }} {{ artist.name }} - {{ album.title }}
                        - {{ track.name }}
                    </option>
                    {% endfor %} {% endfor %} {% endfor %}
                </select>
            </section>
        </main>
        <aside class="bg-blue w-full" style="height: 8rem">
            <audio id="audio" controls></audio>
            <span id="now-playing"></span>
            <button id="play">Play</button>
            <button id="prev">Prev</button>
            <button id="next">Next</button>
            <button id="repeat">Repeat</button>
            <button id="shuffle">Shuffle</button>
        </aside>
    </body>
</html>
